
body
{
	background: #000000 url(../../images/main-bg.gif) repeat-x;
	color: #7F7F7F;
	font-family: tahoma, arial;
	font-size: 10px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	width:100%;
	weight:100%;
}

* html body
{
}

img
{
	border: 0px;
}

a:link
{
	color: #9D9D9B;
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
}

a:visited
{
	color: #9D9D9B;
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
}

a:hover, a:active
{
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

#footer a:link
{
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
}

#footer a:visited
{
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
}

#footer a:hover, #footer a:active
{
	color: #000000;
	font-size: 11px;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: underline;
}

#banner
{
	clear: both;
	height: 326px;
	width: 776px;
}

#container
{
	margin: 0px auto;
	text-align: left;
	width: 776px;
}

#content
{
	clear: both;
	width: 776px;
	background-image: url(../../images/content-bg.gif);
	background-repeat: repeat;
	margin: 0px auto;
}

#footer
{
	background: url(../../images/footer-bg.gif) no-repeat;
	clear: both;
	color: #FFFFFF;
	display: block;
	font-size: 11px;
	height: 108px;
	padding-top: 20px;
	text-align: center;
	width: 776px;
	margin: 0px auto;
}

#headlines
{
	background: #1F1F1F;
	height: 350px;
	padding: 10px;
	width: 254px;
}

#left
{
	float: left;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 80px;
	width: 462px;
}

.logo
{
	width: 10%;
	height: 100%;
}

.logog
{
	top:0px;
	right:0px;
}

.logod
{
	top:0px;
	right:0px;
}
}

#nav
{
clear: both;
display: block;
height: 43px;
width: 100%;
background-image: url(../../images/nav-bg.gif);
background-repeat: repeat-x;
}

#nav ul li a
{
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: bolder;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
}

#nav ul li a:hover
{
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: bolder;
text-transform: uppercase;
color: #d34836;
text-decoration: none;
}

#nav ul
{
list-style: none;
margin: 0px;
padding: 0px;
text-align:center;
}

.nlink, .nlinkend
{
float:left;
width:auto;
list-style: none;
display:inline;
text-align:center;
padding-top: 15px;
padding-left: 17px;
padding-right: 17px;
height:28px;
}

.nlink
{
background-image: url(../../images/nav-line.gif);
background-repeat: no-repeat;
background-position: right top;
}

.nlinkend
{
background-image: none;
}

#right
{
float: left;
width: 274px;
}

#right p
{
margin-top: 0px;
}

* html #right p
{
margin-top: -5px;
}

#stats
{
background: #494949;
padding: 10px;
width: 254px;
}

* html #stats
{
height: 170px;
}

.date
{
color: #827961;
font-weight: bold;
}

.flt-lft
{
float: left;
margin-right: 20px;
}

.flt-rgt
{
float: right;
}

.heading1
{
background: url(../../images/heading-bg-1.gif) no-repeat;
color: #909090;
display: block;
font-family: arial, tahoma;
font-size: 14px;
font-weight: bold;
height: 21px;
margin-bottom: 12px;
padding-left: 40px;
padding-top: 4px;
width: 181px;
}

* html .heading1
{
margin-bottom: 5px;
}

.heading2
{
background: url(../../images/heading-bg-2.gif) no-repeat;
color: #909090;
display: block;
font-family: arial, tahoma;
font-size: 14px;
font-weight: bold;
height: 21px;
margin-bottom: 5px;
padding-left: 38px;
padding-top: 4px;
width: 161px;
}

input[type=text]
{
border-radius: 4px;
}

input[type=password]
{
border-radius: 4px;
}

#nav
{
clear: both;
display: block;
height: 43px;
width: 776px;
background-image: url(../../images/nav-bg.gif);
background-repeat: repeat-x;
}

input[type=submit]
{
border-radius:12px 0 12px 0;
background: #d34836;
border:none;
color:#fff;
font:bold 12px Verdana;
padding:6px 10px 6px 10px;
cursor:pointer;
}

input[type=submit]:hover
{
border-radius:12px 0 12px 0;
background: #ac3b2d;
border:none;
color:#fff;
font:bold 12px Verdana;
padding:6px 10px 6px 10px;
}

.separator
{
width : 1px;
height : 100px;
}

.login
{
width: 100%;
height: 76%;
display: inline-block;
}

.logg
{
width: 25%;
height: 100%;
display: inline-block;
align: left;
float:left;
line-height: 16px;
font-size: 13px;
}

.logd
{
width: 50%;
height: 100%;
display: inline-block;
font-size: 13px;
}

.connexion
{
width: 72%;
height: 60%;
display: inline-block;
font-size: 15px;
margin-left: 1%;
text-align: center;
}

input[type="text"]
{
line-height: 1px;
}

input[type="password"]
{
line-height: 1px;
}

.asterix{
	color:red;
}


#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color : #620000;
}
#menu-deroulant {
/* on centre le menu dans la page */
    text-align: center;
}
#menu-deroulant li {
/* on place les liens du menu horizontalement */
    display: inline-block;
}
#menu-deroulant ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}
#menu-deroulant a {
    text-decoration: none;
    display: block;
	color:#000;
}
#menu-deroulant ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
}